<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Mini-Survey Monkey</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
  table, th, td {
    border:1px solid black;
  }
</style>

<body>
<h1>Survey Questions</h1>
<table style ="width:100%">
  <caption th:text="${surveyTitle}"></caption>
  <tr>
    <th>Name</th>
    <th>Delete Question</th>
  </tr>
  <tr th:each="questionModel : ${surveyModel.surveyQuestions}">
    <td th:text="${questionModel.name}"/>
    <td>
      <a th:href="@{'/question' + ${questionModel.id}}">Delete Question</a>
    </td>


  </tr>
</table>
<div th:object="${localUser}">
  <p>Return to index <a href="/">here</a></p>
</div>
</body>

</html>