<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Mini-Survey Monkey</title>
    <link rel="stylesheet" th:href="@{/reset.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
    <script th:inline="javascript" type="text/javascript">
        google.charts.load("current", {packages: ["corechart"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Rating Number');
            data.addColumn('number', 'Total Number of User Ratings');
            data.addRows([[${numberRangeData}]]);
            console.log(data);

            var options = {
                title: [[${graphTitle}]],
                vAxis: {
                    title: 'Total Number of User Ratings',
                    minValue: 0,
                    format: '0'
                },
                hAxis: {
                    title: 'Number Range',
                    format: '0'
                },
                width: 900,
                height: 500,
                legend: {position: 'right'},
                bar: {groupWidth: '95%'},
                colors: ['green']
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('numberRangeResults'));
            chart.draw(data, options);
        }
    </script>
</head>
<style>
    #numberRangeResults {
        margin: 0 auto;
    }
</style>
<body>
<ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/viewSurvey">View Survey</a></li>
</ul>
<div id="numberRangeResults" style="width: 900px; height: 500px;"></div>
<footer>
    <p id="copyright">Copyright &copy; 2022 Mini-SurveyMonkey Group 5</p>
</footer>
</body>
</html>